<!DOCTYPE html>
<html lang="zxx" class="js">

<%- include('includes/head.ejs') -%>

    <body>

        <!-- Header -->

        <%- include('includes/header.ejs') -%>
            <div class="section section-pad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>Blog</h2>
                                <% if (!blogPosts) { %>
                                    <p> There are no blog posts yet. </p>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Section -->
            <div class="section section-pad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 res-m-bttm">
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <div class="blog-post shadow round">
                                        <div class="post-thumb">
                                            <a href="blog-single.html"><img src="images/post-thumb-a.jpg" alt="post"></a>
                                        </div>
                                        <div class="post-entry">
                                            <div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
                                            <h5><a href="blog-single.html">Working Hard to Keep Pace with very heigh
                                                    Demand</a>
                                            </h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
                                            <a href="blog-single.html" class="btn-icon"><span
                                                    class="pe pe-7s-angle-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="gaps size-3x"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="blog-post shadow round">
                                        <div class="post-thumb">
                                            <a href="blog-single.html"><img src="images/post-thumb-b.jpg" alt="post"></a>
                                        </div>
                                        <div class="post-entry">
                                            <div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
                                            <h5><a href="blog-single.html">Black Friday: Bitcoins the biggest deal on
                                                    from
                                                    today</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
                                            <a href="blog-single.html" class="btn-icon"><span
                                                    class="pe pe-7s-angle-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="gaps size-3x"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="blog-post shadow round">
                                        <div class="post-thumb">
                                            <a href="blog-single.html"><img src="images/post-thumb-c.jpg" alt="post"></a>
                                        </div>
                                        <div class="post-entry">
                                            <div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
                                            <h5><a href="blog-single.html">Introducing our new payment services...</a>
                                            </h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
                                            <a href="blog-single.html" class="btn-icon"><span
                                                    class="pe pe-7s-angle-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="gaps size-3x"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="blog-post shadow round">
                                        <div class="post-thumb">
                                            <a href="blog-single.html"><img src="images/post-thumb-a.jpg" alt="post"></a>
                                        </div>
                                        <div class="post-entry">
                                            <div class="post-meta"><span>Posted 03 Dec, 2017</span></div>
                                            <h5><a href="blog-single.html">Working Hard to Keep Pace with very heigh
                                                    Demand</a>
                                            </h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore.</p>
                                            <a href="blog-single.html" class="btn-icon"><span
                                                    class="pe pe-7s-angle-right"></span></a>
                                        </div>
                                    </div>
                                    <div class="gaps size-3x"></div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <ul class="pagination pagination-lg">
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        --
                        <div class="col-md-3 col-md-offset-1">
                            <div class="sidebar-right wgs-box">
                                <div class="wgs-search">
                                    <div class="wgs-content">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <button class="search-btn"><i class="fa fa-search"
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="gaps size-1x"></div>
                                </div>
                                <!-- Each Widget -->
                                <div class="wgs-post">
                                    <h5 class="wgs-title">Recent Blog</h5>
                                    <div class="wgs-content">
                                        <div class="wgs-post-single">
                                            <div class="wgs-post-thumb">
                                                <img src="images/post-thumb-sm-a.jpg" alt="post-thumb">
                                            </div>
                                            <div class="wgs-post-entry">
                                                <h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to
                                                        Keep Pace
                                                        with Demand </a></h6>
                                                <span class="wgs-post-meta">December 19, 2017</span>
                                            </div>
                                        </div>
                                        <div class="wgs-post-single">
                                            <div class="wgs-post-thumb">
                                                <img src="images/post-thumb-sm-b.jpg" alt="post-thumb">
                                            </div>
                                            <div class="wgs-post-entry">
                                                <h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to
                                                        Keep Pace
                                                        with Demand </a></h6>
                                                <span class="wgs-post-meta">December 19, 2017</span>
                                            </div>
                                        </div>
                                        <div class="wgs-post-single">
                                            <div class="wgs-post-thumb">
                                                <img src="images/post-thumb-sm-c.jpg" alt="post-thumb">
                                            </div>
                                            <div class="wgs-post-entry">
                                                <h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to
                                                        Keep Pace
                                                        with Demand </a></h6>
                                                <span class="wgs-post-meta">December 19, 2017</span>
                                            </div>
                                        </div>
                                        <div class="wgs-post-single">
                                            <div class="wgs-post-thumb">
                                                <img src="images/post-thumb-sm-d.jpg" alt="post-thumb">
                                            </div>
                                            <div class="wgs-post-entry">
                                                <h6 class="wgs-post-title"><a href="blog-single.html">Working Hard to
                                                        Keep Pace
                                                        with Demand </a></h6>
                                                <span class="wgs-post-meta">December 19, 2017</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gaps size-2x"></div>
                                </div>
                                <!-- End Widget -->

                                <div class="wgs-tags">
                                    <h5 class="wgs-title">Tags</h5>
                                    <div class="wgs-content">
                                        <ul class="tag-list clearfix">
                                            <li><a href="#">BitCoin</a></li>
                                            <li><a href="#">Excenge</a></li>
                                            <li><a href="#">Trade</a></li>
                                            <li><a href="#">Buy Sell</a></li>
                                            <li><a href="#">Wallet</a></li>
                                            <li><a href="#">Crypto</a></li>
                                        </ul>
                                    </div>
                                    <div class="gaps size-1x"></div>
                                </div>

                                <div class="wgs-box wgs-contact-info">
                                    <div class="wgs-content boxed">
                                        <div class="contact-information">
                                            <div class="contact-entry">
                                                <h6>Crypto<span>Coin</span></h6>
                                                <p>34 south franklin road<br />santa ana,ca 8975,usa</p>
                                            </div>
                                            <div class="gaps size-1x"></div>
                                            <div class="contact-entry">
                                                <h6>contact number</h6>
                                                <p>phone: 781-123-9865<br />toll free: 800-123-5689</p>
                                            </div>
                                            <div class="gaps size-1x"></div>
                                            <div class="contact-entry">
                                                <h6>office hours</h6>
                                                <p>monday - friday<br />8:30am - 5:00pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->

            <%- include('includes/footer.ejs') -%>

    </body>

</html>