<!DOCTYPE html>
<html lang="en" ng-app="mineon">

<%- include('includes/head.ejs') -%>

    <body>

        <!-- Header -->

        <%- include('includes/header.ejs') -%>

            <!-- Section -->
            <div class="section section-pad">
                <div class="container">
                    <div class="tab-custom">
                        <div class="row">
                            <h1 class="center">Register a new account</h1>
                        </div>
                        <div class="gaps size-2x"></div>
                        <!-- Tab panes -->
                        <div class="tab-content no-pd">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                    <h3 class="heading-lead center">Before you get started</h3>
                                    <p>
                                        In order to use our platform, you need to create an account where you can have access to your services.
                                        <br> The registration process is simple and won't take more than a minute.
                                    </p>
                                    <form class="form-signup" action="/register" method="POST">
                                        <div class="form-results"></div>
                                        <div class="form-group">
                                            <div class="form-field form-m-bttm">
                                                <input name="signupName" id="signup-name" type="text" placeholder="Name *" class="form-control required" aria-required="true">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-field form-m-bttm">
                                                <input name="signupEmail" id="signup-email" type="email" placeholder="Email *" class="form-control required email" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field form-m-bttm">
                                                <input name="signupTelno" id="signup-telno" type="tel" placeholder="Telephone Number *" class="form-control required" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input name="signupPasskey" id="signup-passkey" type="password" placeholder="Password *" class="form-control required" aria-required="true">
                                                <label for="signup-passkey" onclick="showPassword()" id="signupShowPassword">Show</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input name="signupPasskeyConfirm" id="signup-passkey-confirm" type="password" placeholder="Confirm Password *" class="form-control required" aria-required="true">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="checkbox" name="signupTerm"> <span> I accept and agree
                                                    with
                                                    the terms of the <a href="#">User Agreement</a>.</span>
                                            </div>
                                        </div>

                                        <input type="submit" class="btn btn-alt" name="signupSubmit" value="Sign up" />
                                        <span class="gaps"></span>
                                        <p class="small">Already registered? <a class="switch-tab" data-tabnav="loginreg-form" href="#tab1" data-toggle="tab">Login
                                                here</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section -->

            <%- include('includes/footer.ejs') -%>
    </body>

</html>