<!DOCTYPE html>
<html>

<head>
    <title>Mineon</title>
</head>

<body>
    <h1>Hello World</h1>
    <p>This is a test page for the Mineon app.</p>

    <div id="testConfig" style="border: 1px solid #fff">
        <p>Click here</p>
    </div>

    <script src="/assets/js/script.js"></script>
</body>

</html>